h3 {
  text-align: center;
  font-size: 150px;
  font-family: 'Times New Roman', Times, serif;

  
}
h2 {
  color: blue;
  text-align: left;
}
button {
background-color: #1a1917cb;
text-align: center;
align-content: center;

}
p {
text-align: center;
font-style: normal;
font-size: 70px;

}
img {
  width: 500px;
  height: auto;
  text-align: center;

  
}

body {
  background-color: rgb(43, 168, 226); 

}
